.container{
	position: relative;
	float: left;
	width: 900px;
	padding: 30px 30px 30px 30px;
	background-color: #007474;    
}
.container:last-of-type{
	margin-bottom: 30px;
}
.highlight{
	background-color: #007474;	
	margin-bottom: 30px;
}
.highlight:hover{
	background-color: #007474;		
}
.contentTitle{
	padding-left: 60px;
	margin-left: -30px;
	margin-top: 25px;
	width: 960px !important;
}
h2{
	float: left;
	padding: 7px 0 7px 30px;
	line-height: 40px;
	width: 930px;
}
.wrapper{
	position: relative;
	margin: auto;
	width: 990px;
	min-height: 100%;
	margin: 0 auto -55px;
}
.hoveredMenuItem{
	color: #007474;
}
#onCurrentPage{
	border-left: 4px solid #007474;
	padding-left: 7px;
}

h1,h2,h4,p,a{
	text-align: left;
	font-family: Tahoma;
}
h4{
	color: #1E2727;
}
h1,h2,a,p{
	color: white;
}
h1{
	float: left;
	font-size: 350%;
	width: 495px;
	position: absolute;
	padding-left: 30px;
}
h4{
	line-height: 25px;
}
h4:nth-child(1){
	margin-top: -5px;
}
li a{
	line-height: 50px;
	text-decoration: none;
	text-align: left;
	display: block;
	width: 130px;
}
.notification{
	font-style: italic;
	margin-bottom: 25px;
	margin-left: 30px;
}
.whiteText{
	color: #ffffff !important;
}

body{
	overflow-x: hidden;
	padding: 0 0px 0 0px;
	background: url("../images/background3.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;    
	-o-background-size: cover;
	background-size: cover;
}
#coloredBody{
	background: #1E2727;
}
#stylesheetSwitch{
	position: fixed;
	float: right;
	right: 50px;
	margin-top: 40%;
}
form{
	color: white;
}
#contactData{
	float: left;
}
#reflectionForm{
	float: right;
}

.footer{
	width: 1030px;
	height: 36px;
	float: left;	
	margin-bottom: 5px;
	margin-top: -29px;
}
.footer p{
	text-align: center;
	line-height: 36px;
}
.projectsSO{
	margin: 15px 0 15px 0;
}

#description{
	padding-left: 33px;
	width: 490px;
	margin-top: 90px;
	font-size: 20px;
	line-height: 20px;
}
#title{
	overflow: hidden;
	position: absolute;
	width: 870px;
	margin: 20% auto 2%;
	display: none;  
}
#titleHead{
	display: initial !important;
	margin: -40px 30px 13px 0;
	float: right;
}
#blackTitle{
	color: #007474;
	padding-bottom: 4px;
	padding-right: -30px;
}
#nameTitle{
	color: #ffffff;	
}
#myHead{
	display: none;
}   
#totalMenu{
	font-weight: bold;
	float: right;
	position: fixed;
	right: 1%;
	top: 25%;
	width: 271px;
}
#menuWrapper{
	position: relative;
	float: right;
}
#projectMenuWrapper{
	display: none;
	float: left;
}
#projectMenuWrapper ul li a{
	line-height: 30px;
	font-size: 18px;	
	cursor: pointer;
}  
#projectMenuWrapper ul li:nth-child(1){
	border-top: 5px solid #007474; 	
}
li{
	font-size: 20px;
	list-style-type: none;
}
.container ul{
	padding-left: 30px;
	padding-top: 3px;
	padding-bottom: 5px;
}
.container ul li{/* is tekst over project: */
	color: white;
	font-size: 17px;
    list-style-type: square;
	font-family: Tahoma;	
}
#sideMenu{
	display: none;
}

.projectImg, .projectsSO{   
	width: 900px;
}
.projectVidSmall{
	width: 430px;
	margin-top:5px;
	margin-bottom:5px;
}
.floatRight{
	float: right;
}


