p, h2, h3{
	font-family: Tahoma;
	color: white;
}

h2{
	
	line-height: 40px;
}

body{
	background: #1E2727;	
}

.title{
	top: -200px;
	width: 920px;
	text-align: center; 
}

.gameFooter{
	position: absolute;
	
	margin-top: -58px !important;
	width: 940px;
	height: 38px;
	padding: 10px !important;
}

.webgl-logo{
	background-image: url('webgl-logo.png') !important;
	height: 38px;
	width: 204px;
	float: left;
}

.fullscreen{
	background-image: url('fullscreen.png') !important; 
	width: 38px;
	float: right;
}

.webgl-content .controls{
	background-color: #007474; 
	
	position: absolute; 
	margin-top: 40px; 
	padding: 10px;
	margin-bottom: 30px; 
	
	width: 940px; 
}

.footer{
	position: absolute;
	bottom: -40px;
	
	width: 920px;
	padding: 5px;
	
	text-align: center;
}

.floatRight{
	float: right;
	width: 460px;
}

.floatLeft{
	float: left;
	width: 460px;
}

.logo{
	max-width: 204px; 
	height: auto;
}